body {
    background-color: #3c40c6;
}

.central-text {
    font-size: 4em;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    font-family: 'Black Han Sans', sans-serif;
    line-height: 64px;
    margin-top: 75px;
    text-align: center;
    margin-left: initial !important;
}


.content {
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
}



.select-wrapper input.select-dropdown, input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), textarea.materialize-textarea {
    background: white;
    padding-left: 12px;
    margin-top: 11px;
    color: #3c40c6;
    font-weight: bold;
}

.select-dropdown li.disabled, .select-dropdown li.disabled > span, .select-dropdown li.optgroup {
    color: #3c40c6;
    font-weight: bold;

}

.input-field.col label {
    color: white;
}

.dropdown-content li > a, .dropdown-content li > span {
    color: #3c40c6;
}

.select-wrapper .caret {
    fill: #3c40c6;
    z-index: 2;
}

.timepicker-digital-display {
    background-color: #3c40c6 !important;
}

.timepicker-canvas line, .timepicker-canvas-bearing, .timepicker-canvas-bg {
    stroke: #3c40c6 !important;
    fill: #3c40c6 !important;
}

.nomargin {
    margin-left: 0 !important;
}

.my_form {
    margin-top: 51px;
}

.grabb .col {
    margin-left: 0px !important;
}

.grabb {
    display: flex;
    justify-content: center;
}

@media (max-width: 1100px ) {
    .grabb {
        display: initial;
    }
}


.secondary, .last, .lastfuckin, .thrreholder{display: none;}

@media (min-width: 1101px) {
    .row .col {
        float: initial!important;
    }
    .holder {
        display: flex;
        justify-content: center;
    }

}


.holder .col {
    margin-left: 0px!important;
}


.twoshow, .threeshow, .lastfuckin {
    background: none;
    border: 2px solid;
}

.btn:hover, .btn-large:hover, .btn-small:hover {
    background: white!important;
    color: #3c40c6;
}

.input-field .helper-text {
    color: white;
}

input.matadordeonca {
    position: absolute;
    top: 4%;
    left: 2%;
    color: blue;
    font-weight: bold;
}

h1.live-status {
    font-family: 'Black Han Sans', sans-serif;
    text-align: center;
    font-size: 6em;
    margin: 0px;
}

.net-out {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    color: white;
}
.net-in {
    text-align: center;
    color: white;
    font-size: 14px;
    margin-top: 15px;
    font-weight: lighter;
}

h1.live-status.Morto {
    /*color: #ff3a3a;*/
    color: white;
}

h1.live-status.Ileso {
    /*color: #27ff27;*/
    color: white;
}
h1.live-status.Ferido.Leve {
    /*color: #e18888;*/
    color: white;
}

button.btn.waves-effect.waves-light.lastfuckin:hover {
    border: 0px!important;
}

button.waves-effect.waves-light.lastfuckin.col.s12.m2.btn-large.white {
    margin-top: -32px;
    color: #3c40c6;
    font-weight: bold;
    border: 0px!important;
}