<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Road Deathcourse</title>
    <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='assets/css/main.css') }}">

    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>-->
    <link href="https://fonts.googleapis.com/css?family=Black+Han+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


    <script type="text/javascript">
        $(document).ready(function () {
            $('select').formSelect();
            $('.timepicker').timepicker({
                'twelveHour': false,
                'autoClose': true,

            });
            $('.twoshow').click(function () {
                $('.secondary').slideDown('slow');
                $(this).hide();
                $('.thrreholder').slideDown('fast');
            });

            $('.threeshow').click(function () {
                $('.last').slideDown('slow');
                $(this).hide();
                $('.lastfuckin').slideDown('fast');
            });

        });
    </script>

</head>
<body>

<section class="row">
    <div class="col m12 content">

        <div class="central-text col m4 blink">
            Will you survive?
        </div>
        <div class="col m9 nomargin my_form">
            <div class="net-out">
                <span class="nralout">Neuralnet Output: </span><br>
                <span class="nralitem">[
            {% for item in netoutput[0] %}

                    {{ item | round(1, 'floor') }}

            {% endfor %}
                    ]</span>
            </div>


            <div class="box-holder">
                <h1 class="live-status {{status}} ">
                    {{text}}
                </h1>

            </div>

            <div class="net-out">
                <span class="nralout">Input: </span><br>
                <span class="nralitem">
            {% for item in choosen %}

                    {{ item }}
                    <br>

            {% endfor %}
                    </span>
            </div>


        </div>

    </div>
</section>


</body>
</html>