<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Road Deathcourse</title>
    <link href="https://fonts.googleapis.com/css?family=Black+Han+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='assets/css/main.css') }}">
    <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='assets/css/main.css') }}">

    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>-->



    <script type="text/javascript">
        $(document).ready(function () {
            $('select').formSelect();
            $('.timepicker').timepicker({
                'twelveHour': false,
                'autoClose': true,

            });
            $('.twoshow').click(function () {
                $('.secondary').slideDown('slow');
                $(this).hide();
                $('.thrreholder').slideDown('fast');

            });

            $('.threeshow').click(function () {
                $('.last').slideDown('slow');
                $(this).hide();
                $('.lastfuckin').slideDown('fast');
            });


        });
    </script>

</head>
<body >

<section class="row">
    <div class="col m12 content">

        <div class="central-text col m4 blink">
            Will you survive?
        </div>
        <div class="col m10 nomargin my_form">


            <form method="POST" action="/send">

                <div class="row">
                    <div class="col m12 real_content">
                        <div class="grabb">
                            <div class="input-field col s12 m2">
                                <select name="sex">

                                    <option value="Masculino" selected>Male</option>
                                    <option value="Feminino">Female</option>


                                </select>

                                <label>Sex</label>
                            </div>


                            <div class="input-field col s12 m2">
                                <select required name="week-day">
                                    <option value="Segunda" selected>Monday</option>
                                    <option value="Terça">Tuesday</option>
                                    <option value="Quarta">Wednesday</option>
                                    <option value="Quinta">Thursday</option>
                                    <option value="Sexta">Friday</option>
                                    <option value="Sábado">Saturday</option>
                                    <option value="Domingo">Sunday</option>
                                </select>
                                <label>Week Day</label>
                            </div>


                            <div class="input-field col s12 m1">
                                <input type="text" class="timepicker" placeholder="0:00AM" value="11:00" required  name="time">
                                <label>Time</label>
                            </div>

                            <div class="input-field col s12 m2">

                                <select required name="phase">
                                    <option value="Plena noite" selected>Broad daylight</option>
                                    <option value="Pleno dia">In the night</option>
                                    <option value="Anoitecer">Nightfall</option>
                                    <option value="Amanhecer">Sunrise</option>

                                </select>
                                <label>Day Phase</label>
                            </div>

                            <div class="input-field col s12 m2">
                                <select required name="weather">

                                    <option value="Ceu Claro" selected>Clear sky</option>
                                    <option value="Nublado">Cloudy</option>
                                    <option value="Chuva">Rainy</option>
                                    <option value="Sol">Sunny</option>
                                    <option value="Nevoeiro/neblina">Foggy</option>
                                    <option value="Vento">Windy</option>
                                    <option value="Granizo">Hail</option>
                                    <option value="Neve">Snowy</option>
                                    <option value="Ignorada">Ignored</option>


                                </select>

                                <label>Weather condition</label>
                            </div>

                            <div class="input-field col s12 m2">
                                <select required name="environment">

                                    <option value="Urbano" selected>Urban</option>
                                    <option value="Rural">Rural</option>


                                </select>

                                <label>Environment</label>
                            </div>

                        </div>
                    </div>


                    <div class="holder">
                        <a class="waves-effect waves-light btn twoshow col s12 m2">
                            <i class="material-icons">expand_more</i>
                        </a>

                    </div>

                </div>


                <div class="row two">
                    <div class="col m12 s12 secondary">
                        <div class="grabb">
                            <div class="input-field col s12 m3">

                                <select name="accident-cause">

                                    <!--<optgroup label="Frequent cases">-->
                                    <option value="Falta de atenção" selected>Lack of attention</option>
                                    <option value="Não guardar distância de segurança">Ignore safe distance</option>
                                    <option value="Velocidade incompatível">Incompatible speed</option>
                                    <!--</optgroup>-->
                                    <!--<optgroup label="Fatal ones">-->
                                    <option value="Desobediência à sinalização">Ignore traffic signs</option>
                                    <option value="Defeito mecânico em veículo">Mechanical failure</option>
                                    <option value="Ingestão de álcool">Alcohol ingestion</option>
                                    <option value="Ultrapassagem indevida">Wrong overtaking</option>
                                    <option value="Dormindo">Asleep</option>
                                    <option value="Animais na Pista">Animal on the road</option>
                                    <option value="Defeito na via">Road issue</option>
                                    <!--</optgroup>-->


                                </select>
                                <label>Accident Cause</label>
                            </div>

                            <!--<div class="input-field col s12 m2">-->

                                <!--<select name="victim-status">-->
                                    <!--<option value="Sem Vítimas">No victims</option>-->
                                    <!--<option value="Com Vítimas Feridas">Injured victims</option>-->
                                    <!--<option value="Com Vítimas Fatais" selected>Fatal victims</option>-->

                                <!--</select>-->
                                <!--<label>Involved Victims Status</label>-->
                            <!--</div>-->
                        </div>

                    </div>
                    <div class="thrreholder">

                        <div class="holder">
                            <a class="waves-effect waves-light btn threeshow col s12 m2">
                                <i class="material-icons">expand_more</i>
                            </a>
                        </div>
                    </div>
                </div>


                <div class="row three">
                    <div class="col m12 last">

                        <div class="grabb">
                            <div class="input-field col s12 m1">

                                <input type="number" placeholder="230" name="route" required value="230">
                                <span class="helper-text" data-error="wrong"
                                      data-success="right">Brazilian highways only</span>

                                <label>Highway</label>
                            </div>


                            <div class="input-field col s12 m3">

                                <select name="accident-type">
                                    <optgroup label="Collision">
                                        <option value="Colisão traseira" selected>Rear-end</option>
                                        <option value="Colisão lateral">Side / Transverse</option>
                                        <option value="Colisão frontal">Head-on</option>
                                        <option value="Colisão com objeto fixo">Fixed object</option>
                                        <option value="Colisão com objeto móvel">Mobile object</option>
                                        <option value="Colisão com bicicleta">Bicycle hit</option>
                                    </optgroup>


                                    <option value="Saída de Pista">Road exit</option>
                                    <option value="Capotamento">Rollover</option>
                                    <option value="Atropelamento de pessoa">Pedestrian hit</option>
                                    <option value="Atropelamento de animal">Animal hit</option>
                                    <option value="Tombamento">Toppling</option>

                                    <optgroup label="Uncommon: less than 0.3%">
                                        <option value="Queda de motocicleta / bicicleta / veículo">Vehicle fall</option>
                                        <option value="Danos Eventuais">Eventual damages</option>
                                        <option value="Incêndio">Fire</option>
                                        <option value="Derramamento de Carga">Cargo loss</option>
                                    </optgroup>
                                </select>
                                <label>Accident Type</label>
                            </div>


                            <div class="input-field col s12 m2">

                                <select name="flow">
                                    <option value="Crescente" selected>Upward</option>
                                    <option value="Decrescente">Downward</option>

                                </select>
                                <label>Traffic flow</label>
                            </div>


                            <div class="input-field col s12 m2">
                                <select name="type">

                                    <option value="Dupla" selected>Two-way</option>
                                    <option value="Simples">One-way</option>
                                    <option value="Múltipla">Multiple</option>

                                </select>

                                <label>Road Type</label>
                            </div>


                            <div class="input-field col s12 m2">
                                <select name="right-place">

                                    <option value="Cruzamento" selected>Crossroad</option>
                                    <option value="Curva">Curve</option>
                                    <option value="Reta">Straight</option>


                                </select>

                                <!--<label>Road </label>-->
                            </div>
                        </div>

                    </div>
                </div>
                <div class="holder">
                    <button class="waves-effect waves-light lastfuckin col s12 m2 btn-large white" type="submit" name="action">
                        submit
                    </button>

                    <input type="submit" name="random_button" class="btn-large matadordeonca white" value="Randomize">

                </div>


            </form>


        </div>

    </div>
</section>


</body>
</html>